<a href="https://colab.research.google.com/github/Nakkungu/QCC/blob/main/Individual_guided_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

QUESTION 1: CREATE A DATAFRAME FROM THE LIST OF DICTIONARIES.

In [ ]:
import pandas as pd

In [ ]:
#list of dictionaries
data = [
    {"product_id": 23, "name": "computer", "wholesale_price": 500, "retail_price": 1000, "sales": 100},
    {"product_id": 96, "name": "Python Workout", "wholesale_price": 35, "retail_price": 75, "sales": 1000},
    {"product_id": 97, "name": "Pandas Workout", "wholesale_price": 35, "retail_price": 75, "sales": 500},
    {"product_id": 15, "name": "banana", "wholesale_price": 0.5, "retail_price": 200, "sales": 200},
    {"product_id": 87, "name": "sandwich", "wholesale_price": 3, "retail_price": 300, "sales": 300}
]
#create dataframe
df = pd.DataFrame(data)

print(df)

   product_id            name  wholesale_price  retail_price  sales
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5           200    200
4          87        sandwich              3.0           300    300

QUESTION 2: CALCULATE THE PROFIT FOR EACH PRODUCT

In [ ]:
# Calculate net revenue for each product
df['net_revenue'] = (df['retail_price'] - df['wholesale_price']) * df['sales']
# Print DataFrame with net revenue
print(df)

   product_id            name  wholesale_price  retail_price  sales  \
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5           200    200
4          87        sandwich              3.0           300    300

   net_revenue
0      50000.0
1      40000.0
2      20000.0
3      39900.0
4      89100.0

QUESTION 3 (a)

In [ ]:
total_net_revenue = df['net_revenue'].sum()
print(f"The total revenue from all the products is: {total_net_revenue:,}")

The total revenue from all the products is: 239,000.0

QUESTION 3(b)

In [ ]:
# Find products where retail price is more than twice the wholesale price
df_high_margin = df[(df['retail_price']) > (2 * df['wholesale_price'])]

# Print these products
print(df_high_margin['name'])

1    Python Workout
2    Pandas Workout
3            banana
4          sandwich
Name: name, dtype: object

QUESTION 3(c)

In [ ]:
# Define product categories
product_categories = {
    "computer": "computers",
    "Python Workout": "books",
    "Pandas Workout": "books",
    "banana": "food",
    "sandwich": "food"
}

# Add product categories to DataFrame
df['category'] = df['name'].map(product_categories)

# Calculate total revenue for each category
total_revenue_by_category = df.groupby('category')['net_revenue'].sum()

# Print total revenue for each category
print(total_revenue_by_category)

category
books         60000.0
computers     50000.0
food         129000.0
Name: net_revenue, dtype: float64

QUESTION 3(d)

In [ ]:
# Apply 30% discount to wholesale price
df['wholesale_price_discounted'] = df['wholesale_price'] * 0.7

# Calculate new net revenue with discounted wholesale price
df['net_revenue_discounted'] = (df['retail_price'] - df['wholesale_price_discounted']) * df['sales']

# Print DataFrame with new net revenue
print(df)

   product_id            name  wholesale_price  retail_price  sales  \
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5           200    200
4          87        sandwich              3.0           300    300

   net_revenue   category  wholesale_price_discounted  net_revenue_discounted
0      50000.0  computers                      350.00                 65000.0
1      40000.0      books                       24.50                 50500.0
2      20000.0      books                       24.50                 25250.0
3      39900.0       food                        0.35                 39930.0
4      89100.0       food                        2.10                 89370.0

QUESTION 3(e)

In [ ]:
# Calculate current income
df['current_income'] = df['net_revenue']

# Calculate new net revenue with sales tax
for tax_rate in [15, 20, 25]:
    tax_rate = tax_rate / 100
    df[f'net_revenue_tax_{tax_rate*100}%'] = df['current_income'] * (1 - tax_rate)

# Print DataFrame with new net revenue
print(df)

   product_id            name  wholesale_price  retail_price  sales  \
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5           200    200
4          87        sandwich              3.0           300    300

   net_revenue   category  wholesale_price_discounted  net_revenue_discounted  \
0      50000.0  computers                      350.00                 65000.0
1      40000.0      books                       24.50                 50500.0
2      20000.0      books                       24.50                 25250.0
3      39900.0       food                        0.35                 39930.0
4      89100.0       food                        2.10                 89370.0

   current_income  net_revenue_tax_15.0%  net_revenue_tax_20.0%  \
0         50000.0                42500.0                40000.0
1         40000.0                34000.0                32000.0
2         20000.0                17000.0                16000.0
3         39900.0                33915.0                31920.0
4         89100.0                75735.0                71280.0

   net_revenue_tax_25.0%
0                37500.0
1                30000.0
2                15000.0
3                29925.0
4                66825.0